<div class="full_wrapper">
 <div class="site_container">

 <div class="banner_part">

     <div class="banner_wrap">
     
          <div class="banner_content">
             <div style="font-size:18px; color:#fff;">Alaska cottage Suites</div>
             <div style="font-size:14px; color:#fff; margin-top:3px;">Kenai Peninsula suites | Homer, AK</div>
          </div><!--banner_content-->
          
          <div><%= image_tag 'home_banner_15.png'%></div>
     
     </div><!--banner_wrap-->    
     
     <div class="left_banner">
     
          <div class="left_banner_wrap">
              
               <div class="banner_content1">Green Organic</div>

               <div>
               <%= image_tag 'right_banners_17.png'%>


               </div>
              
          </div><!--left_banner_wrap-->
          
          <div class="left_banner_wrap1">
              
               <div class="banner_content2">Shaman Vegan Restaurant</div>
               <div>

                  <%= image_tag 'right_banners_20.png'%>

               </div>
              
          </div><!--left_banner_wrap1-->
    
     
     </div><!--left_banner-->
     
     <div class="clear_fix"></div>
     
     </div><!--banner_part-->
     
     
 </div>
</div>